.header  {
    background-color: pink;
    width: 100%;
    height: 50px;
}

.main {
    text-align: center;
}

body {
    margin: 0;
}

.footer  {
    //background-color: red;
    background-image: ;
    width: 100%;
    height: 50px;
    position: absolute;
    bottom: 0;
}